<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<div class="container">
    <div class="row">
        <h1 class="h1">U.S. Representatives</h1>
    </div>
    <div class="row">
        <div class="col">
            <form action="{% url 'index' %}" method="get">
                <label for="nameInput">Name:</label>
                <input id="nameInput" class="form-control" name="name" type="text" placeholder="Search...">
                <label for="chamberSelect">Chamber:</label>
                <div class="form-check form-check-inline" id="chamberSelect">
                  <input class="form-check-input" type="radio" name="chamberOpt" id="inlineRadio1" value="Both" checked>
                  <label class="form-check-label" for="inlineRadio1">Both</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="chamberOpt" id="inlineRadio2" value="House">
                  <label class="form-check-label" for="inlineRadio2">House</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="chamberOpt" id="inlineRadio3" value="Senate">
                  <label class="form-check-label" for="inlineRadio3">Senate</label>
                </div>
                <br />
                <label for="partySelect">Party:</label>
                <select class="form-control" name="party" id="partySelect">
                    <option>All</option>
                    <option>Democratic</option>
                    <option>Republican</option>
                    <option>Independent</option>
                </select>
                <label for="stateSelect">State:</label>
                <select class="form-control" name="state" id="stateSelect">
                    <option>All</option>
                    <option>Alabama</option>
                    <option>Alaska</option>
                    <option>American Samoa</option>
                    <option>Arizona</option>
                    <option>Arkansas</option>
                    <option>California</option>
                    <option>Colorado</option>
                    <option>Connecticut</option>
                    <option>Dakota</option>
                    <option>Delaware</option>
                    <option>District of Columbia</option>
                    <option>Florida</option>
                    <option>Georgia</option>
                    <option>Guam</option>
                    <option>Hawaii</option>
                    <option>Idaho</option>
                    <option>Illinois</option>
                    <option>Indiana</option>
                    <option>Iowa</option>
                    <option>Kansas</option>
                    <option>Kentucky</option>
                    <option>Louisiana</option>
                    <option>Maine</option>
                    <option>Maryland</option>
                    <option>Massachusetts</option>
                    <option>Michigan</option>
                    <option>Minnesota</option>
                    <option>Mississippi</option>
                    <option>Missouri</option>
                    <option>Montana</option>
                    <option>Nebraska</option>
                    <option>Nevada</option>
                    <option>New Hampshire</option>
                    <option>New Jersey</option>
                    <option>New Mexico</option>
                    <option>New York</option>
                    <option>North Carolina</option>
                    <option>North Dakota</option>
                    <option>Northern Mariana Islands</option>
                    <option>Ohio</option>
                    <option>Oklahoma</option>
                    <option>Oregon</option>
                    <option>Orleans</option>
                    <option>Pennsylvania</option>
                    <option>Philippine Islands</option>
                    <option>Puerto Rico</option>
                    <option>Rhode Island</option>
                    <option>South Carolina</option>
                    <option>South Dakota</option>
                    <option>Tennessee</option>
                    <option>Texas</option>
                    <option>Utah</option>
                    <option>Vermont</option>
                    <option>Virgin Islands</option>
                    <option>Virginia</option>
                    <option>Washington</option>
                    <option>West Virginia</option>
                    <option>Wisconsin</option>
                    <option>Wyoming</option>
                </select>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
           {% if rep_list %}
            <table class="table table-striped table-hover">
                <thead>
                    <th>Title</th>
                    <th>Name</th>
                    <th>Party</th>
                    <th>State</th>
                    <th>District</th>
                    <th></th>
                </thead>
                <tbody>
                 {% for rep in rep_list %}
                    <tr>
                        <td>{{ rep.basics.title }}</td>
                        <td>{{ rep.basics.name }}</td>
                        <td>{{ rep.get_current_party }}</td>
                        <td>{{ rep.get_state }}</td>
                        <td>{{ rep.get_district }}</td>
                        <td><a role="button" class="btn btn-primary" href="{% url 'view' rep.basics.name %}">View More</a></td>
                    </tr>
                 {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No representatives are available.</p>
            {% endif %}
        </div>
    </div>
</div>
